<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student table</title>
    <style>
      #table1 {
        border-collapse: collapse;
      }

      .green {
        color: green;
      }
    </style>
  </head>
  <body>
    <p class="green">data deleted successfully</p>
    <table border="1" id="table1">
      <td><a href="/"> Insert another record </a></td>
      <td><a href="/show"> SHOW DATA </a></td>
    </table>
  </body>
</html>
